a {
  cursor: pointer;
}

/* Components */

.box
  border: 1px solid #e7ecf1;
  padding: 0 20px 15px;
  margin-bottom: 25px;
  width: 600px;
  &-title
    border-bottom: 1px solid #eef1f5;
    min-height: 48px;
    line-height: 48px;
    margin-bottom: 15px;
    font-size: 18px;

/*
 * Element UI
 */
.el-form {
  .el-input,  .el-textarea, .el-select {
    width: 100%;
    max-width: 360px;
  }
  &.search-form .el-form-item{
    margin-bottom: 10px;
  }
}

.el-table .cell {
  padding: 10px;
  line-height: 1.2;
}
.el-table th>.cell{
  font-size: 12px;
  line-height: 1.2;
}

.action-bar .el-input {
  width: 200px;
}
